aws_cf_deploy_anything_llm.json
*.bak
build/
.coverage
dist/
.DS_Store
.env
.env.*
!.env.example
.idea
# local environment variables
node_modules
node_modules/
__pycache__
__pycache__/
.pytest_cache/
.ruff_cache/
v-env
yarn.lock
